fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters

pypdf
pdfplumber
python-docx

faiss-cpu
rank-bm25

sentence-transformers
FlagEmbedding

pydantic
python-dotenv

google-generativeai
